<!doctype html>
<html lang="en">
  {{ template "head" }}
  <body class="container">
    {{ template "header" . }}
    <article>{{ template "business" . }}</article>
  </body>
</html>

{{ define "business" }}
<table>
  <tr>
    <th>ABN</th>
    <td>{{ .Business.ABN.String }}</td>
  </tr>
  <tr>
    <th>Business Name</th>
    <td>{{ .Business.Name.String }}</td>
  </tr>
  <tr>
    <th>Status</th>
    <td>{{ .Business.Status.String }}</td>
  </tr>
  <tr>
    <th>State</th>
    <td>{{ .Business.StateOfReg.String }}</td>
  </tr>
  <tr>
    <th></th>
    <td><a href="{{ .LinkedinURL }}">Linkedin</a></td>
  </tr>
</table>
{{ end }}
