<!doctype html>
<html lang="en">
{{ template "head" . }}

<body class="container">
	<!-- header -->
	{{ template "header" . }}

	<main>
		<!-- message -->
		{{ template "message" . }}

		<!-- form -->
		<search>
			<form x-target.replace="message results pagination" method="get" action="/search">
				<fieldset role="group">
					<input id="query" name="q" type="search" placeholder="Search name..." autocomplete="off"
						@input.debounce="$el.form.requestSubmit()" />
					<select id="state" name="state" @change="$el.form.requestSubmit()">
						<option value="">All - Australia</option>
						<option value="ACT">ACT</option>
						<option value="NSW">NSW</option>
						<option value="NT">NT</option>
						<option value="QLD">QLD</option>
						<option value="SA">SA</option>
						<option value="TAS">TAS</option>
						<option value="VIC">VIC</option>
						<option value="WA">WA</option>
					</select>
				</fieldset>
			</form>
		</search>


		<!-- business search results table -->
		<table>
			<thead>
				<tr>
					<th>ABN</th>
					<th>Name</th>
					<th>State</th>
				</tr>
			</thead>
			{{ template "results" . }}
		</table>

		{{ template "pagination" . }}
	</main>

	<!-- footer -->
	{{ template "footer" .}}

	<style>
		body {
			min-height: 100dvh;
			display: flex;
			flex-direction: column;

			& main {
				flex: 1;
			}
		}
	</style>
</body>

</html>

{{ define "message" }}
<div id="message">{{ .Message }}</div>
{{ end }}

{{ define "results" }}
<tbody id="results" x-merge="append">
	{{ range .Results }}
	<tr>
		<td><a href="/search/business/{{ .ABN }}">{{ .ABN }}</a></td>
		<td>{{ .Name }}</td>
		<td>{{ .State.String }}</td>
	</tr>
	{{ end }}
</tbody>
{{ end }}

{{ define "pagination" }}
<div id="pagination">
	{{ if gt (len .Results) 0 }}
	<div x-init x-intersect="$ajax('{{ .Next }}', { target: 'message results pagination' })"></div>
	{{ end }}
</div>

{{ end }}
