<!doctype html>
<html lang="en">
  {{ template "head" . }}

  <body class="container">
    {{ template "header" . }}
    <!-- count -->
    <p id="count">Search from {{ .Count }} business</p>

    <!-- form -->
    <search>
      <form x-target="count results" method="get" action="/search">
        <fieldset role="group">
          <input
            id="query"
            name="query"
            type="search"
            placeholder="Search..."
            autocomplete="off"
            @input.debounce="$el.form.requestSubmit()"
          />
          <select id="state" name="state" @change="$el.form.requestSubmit()">
            <option value="" selected>All - Australia</option>
            <option value="ACT">ACT</option>
            <option value="NSW">NSW</option>
            <option value="NT">NT</option>
            <option value="QLD">QLD</option>
            <option value="SA">SA</option>
            <option value="TAS">TAS</option>
            <option value="VIC">VIC</option>
            <option value="WA">WA</option>
          </select>
        </fieldset>
      </form>
    </search>

    <!-- results -->
    <table id="results"></table>
  </body>
</html>

{{ define "search-results" }}
<!-- search-results -->
<!-- count -->
<p id="count">
  Found ({{ .Count }}) businesses matching <em>'{{ .QueryStr }}'</em>
</p>
<!-- ./count -->

<!-- results -->
<table id="results">
  <thead>
    <tr>
      <th>ABN</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    {{ range .Results }}
    <!-- nowrap -->
    {{ if .ABN.Valid }}
    <tr>
      <td><a href="/company/{{ .ABN.String }}">{{ .ABN.String }}</a></td>
      <td>{{ .Name.String }}</td>
      <td>{{ .State.String }}</td>
    </tr>
    {{ end }}
    <!-- nowrap -->
    {{ end }}
  </tbody>
</table>
<!-- ./results -->
<!-- ./search-results -->
{{ end }}
