<!doctype html>
<html lang="en">
  {{ template "head" . }}

  <body class="container">
    <!-- header -->
    {{ template "header" . }}

    <!-- message -->
    <div id="message">{{ template "message" . }}</div>

    <!-- form -->
    <search>
      <form x-target.replace="results message" method="get" action="/search">
        <fieldset role="group">
          <input
            id="query"
            name="q"
            type="search"
            placeholder="Search..."
            autocomplete="off"
            @input.debounce="$el.form.requestSubmit()"
          />
          <select id="state" name="state" @change="$el.form.requestSubmit()">
            <option value="">All - Australia</option>
            <option value="ACT">ACT</option>
            <option value="NSW">NSW</option>
            <option value="NT">NT</option>
            <option value="QLD">QLD</option>
            <option value="SA">SA</option>
            <option value="TAS">TAS</option>
            <option value="VIC">VIC</option>
            <option value="WA">WA</option>
          </select>
        </fieldset>
      </form>
    </search>

    <!-- results -->
    <div id="results">{{ template "results" . }}</div>
  </body>
</html>

<!-- search-results -->
{{ define "search-results" }}
<!-- message -->
<div id="message">{{ template "message" . }}</div>
<!-- results -->
<div id="results">{{ template "results" . }}</div>
<!-- nowrap -->
{{ end }}

<!-- message -->
{{ define "message" }}
<p>{{ .Message }}</p>
{{ end }}

<!-- results -->
{{ define "results" }}
<!-- business search results table -->
{{ if gt (len .BusinessSearchResults) 0 }}
<table>
  <thead>
    <tr>
      <th>ABN</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    {{ range .BusinessSearchResults }}
    <!-- range -->
    {{ if .ABN.Valid }}
    <tr>
      <td><a href="/company/{{ .ABN.String }}">{{ .ABN.String }}</a></td>
      <td>{{ .Name.String }}</td>
      <td>{{ .State.String }}</td>
    </tr>
    {{ end }}
    <!-- ./range -->
    {{ end }}
  </tbody>
</table>
{{ end }}
<!-- nowrap -->
{{ end }}
