<!doctype html>
<html lang="en">
  <!-- head -->
  <head>
    <title>Search for Businesses</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css" />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/@imacrayon/alpine-ajax@0.11.0/dist/cdn.min.js"
    ></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.1/dist/cdn.min.js"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
  </head>
  <!-- ./head -->

  <body class="container">
    <header>
      <h1><a href="/">Search Australian Businesses</a></h1>
    </header>

    <!-- count -->
    <p id="count">Search from {{ .Count }} business</p>

    <!-- form -->
    <search>
      <form x-target="count results" method="get" action="/search">
        <fieldset role="group">
          <input
            id="query"
            name="query"
            type="search"
            placeholder="Search..."
            autocomplete="off"
            @input.debounce="$el.form.requestSubmit()"
          />
          <select id="state" name="state" @change="$el.form.requestSubmit()">
            <option value="" selected>All - Australia</option>
            <option value="ACT">ACT</option>
            <option value="NSW">NSW</option>
            <option value="NT">NT</option>
            <option value="QLD">QLD</option>
            <option value="SA">SA</option>
            <option value="TAS">TAS</option>
            <option value="VIC">VIC</option>
            <option value="WA">WA</option>
          </select>
        </fieldset>
      </form>
    </search>
    <!-- ./form -->

    <!-- results -->
    <ul id="results"></ul>
  </body>
</html>

<!-- search-results -->
{{ define "search-results" }}
<!-- count -->
<p id="count">
  Found ({{ .Count }}) businesses matching <em>'{{ .QueryStr }}'</em>
</p>
<!-- ./count -->

<!-- results -->
<ul id="results">
  {{ range .Results }}
  <li>{{ .ABN }} - {{ .Name }}</li>
  {{ end }}
</ul>
<!-- ./results -->
{{ end }}
<!-- ./search-results -->

<!-- styles -->
{{ define "styles" }}
<style>
  body {
    max-width: 768px;
    margin: 0 auto;
  }
</style>
{{ end }}
<!-- ./styles -->
